# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized and some exercises performed.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL
5. Java
6. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. NumPy
3. Pandas
4. Scikit-learn
5. Seaborn
6. Tensor Flow

|Data Science Tools|
|------------------|
|JupyterLab|
|RStudio|
|Google Colab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to multiply then add integers
x=3
y=4
z=5
w=(x*y)+z
print(w)

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
m=200
h=m/60
print(h)

3.3333333333333335

**Objectives**
* List some popular languages in data science
* Identify some of the commonly used libraries in data science
* Demonstrate skills with Markdown
* Demonstrate some basic coding in arithmetic.

## Author
Dennis Alexander